.form{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.content {
    max-width: 630px;
    display: flex;
    gap: 12px;
    padding-right: 80px;
}

.input {
    width: 377px
}

.container {
    padding-top: 52px;
    display: flex;
    gap: 16px;
    justify-content: center;
}