.content {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

.container {
    max-width: 630px;
    display: flex;
    gap: 12px;
    padding-right: 80px;
}


.input {
    width: 377px
}

.bubble {
    display: flex;
    padding-top: 78px;
    justify-content: center;
    gap: 16px;
}